<!-- u can refer https://codecraft.tv/courses/angular/forms/model-driven-validation/ -->
<form class="progress-create-form" novalidate [formGroup]="myform">

  <div formGroupName="name">
    <mat-form-field class="progress-form-field-full-width">
      <input matInput formControlName="firstName" placeholder="first name">
    </mat-form-field>
    <div *ngIf="lastName.invalid && lastName.dirty">last name is invalid</div>
    <mat-form-field class="progress-form-field-full-width">
      <input matInput formControlName="lastName" placeholder="last name">
    </mat-form-field>
  </div>
  <mat-form-field class="progress-form-field-full-width">
    <textarea matInput formControlName="comment" placeholder="comment"></textarea>
  </mat-form-field>
  <mat-form-field class="progress-form-field-full-width">
    <mat-select placeholder="language" formControlName="language">
      <mat-option [value]="lang.value" *ngFor="let lang of langs">{{lang.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field>

  <pre>{{myform.value | json}}</pre>
  <button mat-raised-button color="accent">Click me!</button>

  <!-- <div>
    <pre>dirty - {{ myform.controls.name.dirty }}</pre>
    <pre>pristine -{{ myform.controls.name.pristine }}</pre>
    <pre>touched -{{ myform.controls.name.touched }}</pre>
    <pre>untouched -{{ myform.controls.name.untouched }}</pre>
    <pre>valid -{{ myform.controls.name.valid }}</pre>
    <pre>invalid -{{ myform.controls.name.invalid }}</pre>
  </div> -->

</form>