/* 
    css loaders reference https://loading.io/css/
*/
.spinner {
    position: fixed;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 1;
}

.grid-with-filters ul li {
    display: flex;
    flex-direction: row;
    border: 1px solid;
}
.grid-with-filters ul li div {
    width: 25%;
}
.grid-with-filters .no-items {
    text-align: center;
    font-size: 20px;
}