<h1>Async with promise</h1>
<app-async-with-promise></app-async-with-promise>
<h1>Async with observable</h1>
<app-async-with-observable></app-async-with-observable>
<h1>Promise without Async</h1>
<app-promise-without-async></app-promise-without-async>
<h1>Promise with Async</h1>
<app-promise-with-async></app-promise-with-async>
<h1>Observable without Async</h1>
<app-observable-without-async></app-observable-without-async>
<h1>Observable with Async</h1>
<app-observable-with-async></app-observable-with-async>