<button class="btn btn-primary" (click)="doGETAsObservable()">GET with observable</button>
<button class="btn btn-primary" (click)="doGETAsPromise()">GET with promise</button>

<h1>Call Search API from Service using promise</h1>
<form>
    <input type="text" #search />
    <button class="btn btn-primary" (click)="doSearchUsingPromise(search.value)">Search using promise</button>
</form>

<h1>Call Search API from Service using observable</h1>
<input type="text" [formControl]="searchField" />

<div class="text-center">
    <p class="lead" *ngIf="loading">Loading...</p>
</div>
<!-- <h1>data From Service</h1> -->
<!-- <ul>
    <li *ngFor="let search of searchServe.results">
        <div>{{search.artistName}}</div>
        <div>{{search.country}}</div>
        <div>{{search.collectionName}}</div>
    </li>
</ul> -->

<!-- <h1>data From ts file</h1> -->
<ul>
    <li *ngFor="let search of data">
        <div>{{search.artistName}}</div>
        <div>{{search.country}}</div>
        <div>{{search.collectionName}}</div>
    </li>
</ul>

<h3>Observable - Retry</h3>
<button mat-raised-button color="accent" (click)="testRetry()">Call API</button>
<button *ngIf="!subscription?.closed" mat-raised-button color="accent" (click)="cancelApi()">Cancel API</button>
<div *ngIf="loading">Loading...</div>
<div>{{statusMessage}}</div>

Subscription Closed: {{subscription?.closed}}
